@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slide-in-hidden {
  opacity: 0;
  transform: translateX(-100px);
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* h1 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
} */
.svgbox {
  &--1 {
    left: 0;
  }
  &--2 {
    right: 0;
  }
}
[data-split] {
  > span {
    display: inline-block;
  }
}
